node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_STORE
DS_STORE
.vscode
.tgz
.zip
.turbo

umd
build
dist
lib
esnext
types
es
bin/webpack
./types
.next
es
/data/
**/mocks/gen/**
**/config/coverage/*
*.env
!example.env
*.db
**/coverage/*
cache
*.cache
*.key
*.crt
*.crt
.cache/**/*
.dccache
examples/**/test.json
e2e/gen/**
e2e/src/gen/**
