.codesandbox
.devcontainer
.github
*.html
*.json
*.yaml
*.yml
*.mdx
*.css
*.sass
*.scss
*.vue
*.MD
*.jsonc
*rc.js
*rc
public
assets
LICENSE

# builds
types
build
*/build
dist
**/dist
lib
es
artifacts
coverage
*.tgz

## custom ones
# /e2e
.next
!src
# dprint does the formating
**/gen
# dprint does the formating
**/configs
# dprint does the formating
**/docs
# dprint does the formating
**/e2e
# dprint does the formating
**/examples
# dprint does the formating
*.json
# dprint does the formating
*.config.*
# dprint does the formating
**/packages/**/src/**
