name: autofix.ci

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  autofix:
    name: Lint and format
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Setup
        uses: ./.github/setup

      - name: Fix formatting
        run: pnpm run format

      - name: Fix linting
        run: pnpm run lint:fix

      - name: Apply fixes
        uses: autofix-ci/action@v1
        with:
          commit-message: 'ci: apply linting and formating'
          comment: Auto fix applied for linting anf formating
