name: ci

on:
  workflow_dispatch:
    inputs:
      tag:
        description: override release tag
        required: false
  push:
    branches: ['main', 'alpha', 'beta', 'rc']
    paths:
      - 'packages/**'

jobs:
  build:
      name: Build and Test
      timeout-minutes: 15
      runs-on: ubuntu-latest

      steps:
        - name: Check out code
          uses: actions/checkout@v4
          with:
            fetch-depth: 2

        - uses: pnpm/action-setup@v2.2.4
          with:
            version: 8

        - name: Setup Node.js environment
          uses: actions/setup-node@v3
          with:
            node-version: 18
            cache: 'pnpm'
            registry-url: 'https://registry.npmjs.org'

        - name: Install bun
          uses: oven-sh/setup-bun@v1

        - name: Install dependencies
          run: pnpm install --prefer-offline

        - uses: dtinth/setup-github-actions-caching-for-turbo@v1
          with:
           # Set the prefix for the cache keys.
            cache-prefix: kubb_

        - name: Build
          run: bun run build --concurrency=1

        - name: Typecheck
          run: bun run typecheck --concurrency=1

        - name: Typecheck examples
          run: bun run typecheck:examples --concurrency=1

        - name: Test
          run: bun run test

        - name: Upload coverage reports to Codecov
          uses: codecov/codecov-action@v3
          env:
             CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

        - name: Publish
          id: publish
          continue-on-error: true
          if: ${{ success() && github.event.inputs.tag == '' && github.ref == 'refs/heads/alpha' && (github.event_name != 'pull_request' || github.event.action == 'closed' && github.event.pull_request.merged == true) }}
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            TAG: ${{ inputs.tag }}
          run: bun run release --concurrency=1

        - name: Publish ${{ inputs.tag || 'canary' }}
          continue-on-error: true
          if: ${{ steps.publish.outcome == 'failure' ||  github.event.inputs.tag != '' }}
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            TAG: canary
          run: |
            bun run release:${{ inputs.tag || 'canary' }} --concurrency=1
