name: e2e

on:
  pull_request:
  workflow_dispatch:
# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true
  
jobs:
  build:
      name: Build and Test
      timeout-minutes: 15
      strategy:
        matrix:
          platform: [ubuntu-latest]
          node-version:
            - 18
            - 19
            - 20
      runs-on: ${{ matrix.platform }}
      # To use Remote Caching, uncomment the next lines and follow the steps below.
      # env:
      #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      #  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
 
      steps:
        - name: Check out code
          uses: actions/checkout@v3
          with:
            fetch-depth: 2
 
        - uses: pnpm/action-setup@v2.2.4
          with:
            version: 8
 
        - name: Setup Node.js(${{ matrix.node-version }}) environment
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.node-version }}
            cache: 'pnpm'
            registry-url: 'https://registry.npmjs.org'
 
        - name: Install dependencies
          run: pnpm install --prefer-offline
          
        - name: Install bun
          uses: oven-sh/setup-bun@v1

        - uses: dtinth/setup-github-actions-caching-for-turbo@v1

        - name: Build
          run: bun run build

        - name: Install e2e dependencies
          run: pnpm install --prefer-offline
          working-directory: ./e2e

        - name: E2e
          working-directory: ./e2e
          run: |
            bun run generate --input ./schemas/petStore.yaml
            bun run generate --input ./schemas/twitter.json
            bun run generate --input ./schemas/twitter2.json
            bun run generate --input ./schemas/bunq.com.json
            bun run generate --input ./schemas/jokesOne.yaml
            bun run generate --input ./schemas/readme.io.yaml
            bun run generate --input ./schemas/worldtime.yaml
            bun run generate --input ./schemas/zalando.yaml
            bun run generate --input ./schemas/requestBody.yaml
            bun run clean

