name: e2e

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "examples/**"
      - "**/*.md"
  workflow_dispatch:
    # inputs:
    #   os:
    #     description: Choose os
    #     required: true
    #     type: choice
    #     options:
    #     - ubuntu-latest
    #     - macos-latest
    #     - windows-latest

jobs:
  build:
      name: Build and test
      timeout-minutes: 30
      strategy:
        fail-fast: true
        matrix:
          os: [ubuntu-latest, windows-latest]
          node-version: [18]
          installer: [pnpm run]
          generate: [pnpm run generate]
          ## comment out for support of node 19,20
          # experimental: [false]

          ## comment for support of node 19,20
          exclude:
            - os: ubuntu-latest
              node-version: 18
              installer: pnpm run
              generate: bun run generate --bun
          include:
            - os: windows-latest
              node-version: 18
              installer: pnpm run
              generate: bun run generate
            - os: ubuntu-latest
              node-version: 18
              installer: bun run
              generate: bun run generate --bun

          ## comment out for support of node 19,20
          # include:

            # - os: windows-latest
            #   installer: pnpm run
            # - os: ubuntu-latest
            #   installer: bun run
            # - os: windows-latest
            #   node-version: 19
            #   installer: pnpm run
            #   experimental: true
            # - os: ubuntu-latest
            #   node-version: 19
            #   installer: bun run
            #   experimental: true

            # - os: windows-latest
            #   node-version: 20
            #   installer: pnpm run
            #   experimental: true
            # - os: ubuntu-latest
            #   node-version: 20
            #   installer: bun run
            #   experimental: true

      runs-on: ${{ matrix.os }}
      continue-on-error: ${{ matrix.experimental || false }}

      steps:
        - name: Check out code
          uses: actions/checkout@v4
          with:
            fetch-depth: 2

        - name: Setup
          uses: ./.github/setup

        - name: Build
          run: ${{ matrix.installer }} build

        - name: Install e2e dependencies
          run: pnpm install --prefer-offline
          working-directory: ./e2e

        - name: E2e
          working-directory: ./e2e
          env:
            NODE_OPTIONS: "--max_old_space_size=4096"
          run: |
            ${{ matrix.generate }}

