name: pr

on:
  pull_request:
  workflow_dispatch:
    # inputs:
    #   os:
    #     description: Choose os
    #     required: true
    #     type: choice
    #     options:
    #       - ubuntu-latest
    #       - macos-latest
    #       - windows-latest
  
jobs:
  build:
      name: Build and Test
      timeout-minutes: 15
      strategy:
        fail-fast: true
        matrix:
          os: [ubuntu-latest]
          node-version: [18]
          experimental: [false]
          ## comment out for support of node 19,20
          # include: 
          #   - os: ubuntu-latest
          #     node-version: 19
          #     experimental: true
          #   - os: ubuntu-latest
          #     node-version: 20
          #     experimental: true

      runs-on: ${{ matrix.os || 'ubuntu-latest' }}
      continue-on-error: ${{ matrix.experimental || false }}
 
      steps:
        - name: Check out code
          uses: actions/checkout@v3
          with:
            fetch-depth: 2
 
        - uses: pnpm/action-setup@v2.2.4
          with:
            version: 8
 
        - name: Setup Node.js(${{ matrix.node-version }}) environment
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.node-version }}
            cache: 'pnpm'
            registry-url: 'https://registry.npmjs.org'

        - name: Install bun
          uses: oven-sh/setup-bun@v1
 
        - name: Install dependencies
          run: pnpm install --prefer-offline

        - uses: dtinth/setup-github-actions-caching-for-turbo@v1
          with:
           # Set the prefix for the cache keys.
            cache-prefix: kubb_
          
        - name: Build
          run: bun run build --concurrency=1

        - name: Typecheck
          run: bun run typecheck --concurrency=1
          
        - name: Linting
          env:
            NODE_OPTIONS: "--max_old_space_size=4096"
          continue-on-error: true
          run: bun run lint:ci

        - name: Test
          run: bun run test

        - name: Test with Bun
          continue-on-error: true
          run: bun run test:bun

        - name: Test with Jest
          continue-on-error: true
          run: bun run test:jest

        - name: Upload coverage reports to Codecov
          uses: codecov/codecov-action@v3
          env:
             CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}