name: release-please
on:
  push:
    branches:
      - main
      
  workflow_dispatch:


permissions:
  contents: write
  pull-requests: write
  
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: google-github-actions/release-please-action@v3.7.9
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          command: manifest
          monorepo-tags: true